nav {
  background-color: #444;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 30px 0px;
  margin-bottom: 30px;
}

nav a {
  color: white;
  font-weight: bolder;
}

a:hover {
  color: orange;
  text-decoration: none;
}

a:active {
  color: #cbced3;
}


table > #head-dark {
  background-color: #444;
}

#how-many, #prompt, #collection {
  margin-top: 15px;
}
